<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.pre.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.pre.domain.SysLog">
        <id column="id" property="id" />
        <result column="request_ip" property="requestIp" />
        <result column="type" property="type" />
        <result column="user_id" property="userId" />
        <result column="desc" property="desc" />
        <result column="action_time" property="actionTime" />
        <result column="exception_code" property="exceptionCode" />
        <result column="exception_detail" property="exceptionDetail" />
        <result column="action_method" property="actionMethod" />
        <result column="params" property="params" />
        <result column="ua" property="ua" />
        <result column="classPath" property="classPath" />
        <result column="request_method" property="requestMethod" />
        <result column="start_time" property="startTime" />
        <result column="finish_time" property="finishTime" />
        <result column="consuming_time" property="consumingTime" />
        <result column="ex_json" property="exJson" />
        <result column="ex_detail" property="exDetail" />
    </resultMap>

</mapper>
